
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Datos del docente</ng-template>

      <div class="row">

        <div class="col-sm">
          
        <mat-form-field>

          <mat-label>Identifiacion del docente</mat-label>
          <input matInput formControlName="identificacion" [(ngModel)]="busquedaDocente" required>

        </mat-form-field>

       
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput  formControlName="nombre" required>
        </mat-form-field>
       
        
        </div>


        <div class="col-sm" >

    
            <mat-form-field>
              <mat-label>especialidad</mat-label>
              <input matInput formControlName="descripcion" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Asignaturas</mat-label>
              <mat-select formControlName="asignaturas">
                <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.codigoAsignatura" >
                  {{asignatura.nombreAsignatura}}
                </mat-option>
              </mat-select>
            </mat-form-field>
    

        </div>


      </div>

      <div style="margin-bottom: 50px; margin-top: 50px;" class="text-center" >

        <button  (click)="buscarDocente()"  class="btn btn-light">consultar</button>


      </div>


      <div style="margin-top: 10px;">
        <button mat-button matStepperNext >Siguiente</button>
      </div>

    </form>


  </mat-step>



  <mat-step [stepControl]="secondFormGroup">

    <form [formGroup]="secondFormGroup">

      <ng-template matStepLabel>Datos del Estudiante</ng-template>


      <div class="row">

        <div class="col-sm">
          
        <mat-form-field>

          <mat-label>Identifiacion del Estudiante</mat-label>
          <input matInput formControlName="identificacion" [(ngModel)]="busquedaEstudiante">

        </mat-form-field>

       
        <mat-form-field>
          <mat-label>Nombre completo</mat-label>
          <input matInput formControlName="nombre" required>
        </mat-form-field>
        

        
        <mat-form-field>
          <mat-label>correo</mat-label>
          <input matInput formControlName="correo" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>celular</mat-label>
          <input matInput formControlName="celular" required>
        </mat-form-field>
       
        
          <mat-form-field>
            <mat-label>Asignaturas</mat-label>
            <mat-select formControlName="asignatura">
              <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.codigoAsignatura" >
                {{asignatura.nombreAsignatura}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <mat-label>Semestre</mat-label>
            <input matInput formControlName="semestre" required type="number">
          </mat-form-field>


          

        
        </div>




      </div>


      <div style="margin-bottom: 50px; margin-top: 50px;" class="text-center" >

        <button  (click)="buscarEstudiante()"  class="btn btn-light">consultar</button>


      </div>



      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext style="margin-left: 80%;">Siguiente</button>
      </div>


    </form>

  </mat-step>



  <mat-step [stepControl]="treeFormgroup">

    <form [formGroup]="treeFormgroup">

      <ng-template matStepLabel>Datos del Proyecto</ng-template>



      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext style="margin-left: 80%;">Siguiente</button>
      </div>


    </form>

  </mat-step>





  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Operacion Terminada</p>
    <div>
      <button mat-button matStepperPrevious>Regresar</button>
      <button mat-button (click)="stepper.reset()" style="margin-left: 80%;">resetear</button>
    </div>
  </mat-step>

 


</mat-horizontal-stepper>
