
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Datos del docente</ng-template>

      <div class="row">

        <div class="col-sm">
          
        <mat-form-field>

          <mat-label>Identifiacion del docente</mat-label>
          <input matInput formControlName="identificacion" [(ngModel)]="busquedaDocente">

        </mat-form-field>

       
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="nombre completo" formControlName="nombre" required ng>
        </mat-form-field>
       
        
        </div>


        <div class="col-sm" >

    
            <mat-form-field>
              <mat-label>especialidad</mat-label>
              <input matInput placeholder="Especialidad" formControlName="descripcion" required ng>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Asignaturas</mat-label>
              <mat-select formControlName="asignaturas">
                <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.codigoAsignatura" >
                  {{asignatura.codigoAsignatura}}
                </mat-option>
              </mat-select>
            </mat-form-field>
    

        </div>


      </div>

      <div style="margin-bottom: 50px; margin-top: 50px;">

        <button  (click)="buscarDocente()"  class="btn btn-light" style="margin-left: 30px;">consultar</button>
        
        <button  (click)="onSubmit()"  class="btn btn-light" style="margin-left: 30px;">Registrar</button>

      </div>


      <div style="margin-top: 10px;">
        <button mat-button matStepperNext >Siguiente</button>
      </div>

    </form>


  </mat-step>



  <mat-step [stepControl]="secondFormGroup">

    <form [formGroup]="secondFormGroup">

      <ng-template matStepLabel>Datos del proyecto</ng-template>


      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput  placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>


      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>


    </form>

  </mat-step>




  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Operacion Terminada</p>
    <div>
      <button mat-button matStepperPrevious>Regresar</button>
      <button mat-button (click)="stepper.reset()">resetear</button>
    </div>
  </mat-step>

 


</mat-horizontal-stepper>
